munit_recorder/src/main/mule/munit_recorder.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0a90e141-1ef4-4c7d-ae0f-0e943869991b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9c8685df-7e91-4a1d-af6a-0635965e3b4e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Suchita@1995" database="SuchitaDatabase" />
	</db:config>
	<flow name="munit_recorderFlow" doc:id="df11a69c-9823-44d8-a144-db46ba64d6c7" >
		<http:listener doc:name="Listener" doc:id="6429f180-26bd-4280-85e5-a6cd25f8aaef" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-variable value="#[message.attributes.queryParams.studentname]" doc:name="Set Variable" doc:id="a7b21bca-e687-4ad7-8d37-c199d5b974b2" variableName="studentname"/>
		<db:select doc:name="Select" doc:id="3944b3ef-8a9b-4bbe-80ff-f99d45c11acf" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from student where name=:sname]]></db:sql>
			<db:input-parameters ><![CDATA[#[{sname:vars.studentname}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cada55dc-0d9a-46c2-b93e-ad02c8efabc1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1aab9bb2-7ecd-46aa-a9ec-d3e4c77d159d" message="end of the flow"/>
	</flow>
</mule>
